@import 'tailwindcss';
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

body, html {
  margin: 0px;
  padding: 0px;
}

body {
  color: black;
  background-color: var(--color-sky-50);
}

.dark body {
  color: white;
  background-color: var(--color-sky-950);
}